#login {
    background-image: linear-gradient( -90deg, rgb(0, 255, 243), rgb(0, 58, 255) );
    height:100vh;
}

.form-wrapper {
    width: 400px;
    background: rgba(255, 255, 255, 0.589);
    border-radius: 5px;
    box-shadow: 2px 2px 27px #1c1b3a63;
    padding: 20px;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.alert-message {
    font-size : 12px;
    color : red;
}

button:disabled {
    cursor: not-allowed;
}

#home {
    height: 100vh;
    background-image: linear-gradient( -90deg, rgb(0, 58, 255), rgb(0, 255, 243) );
    text-align: center;
}

#home div {
    margin-bottom: 15px;
}

.log-out {
    position: absolute;
    right : 5px;
    top : 5px;
}

.select-wrapper {
    width: 300px;
    left: 50%;
    padding-top: 50px;
    transform: translateX(-50%);
    position: relative;
}

.carousal-wrapper {
    width:50%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.content {
    height: 50vh;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}